//colors : https://materializecss.com/color.html
// black
$sv-black: #000000;
// white
$sv-white: #ffffff;

// gray
$sv-grey-w5: #fafafa;
$sv-grey-w4: #f5f5f5;
$sv-grey-w3: #eeeeee;
$sv-grey-w2: #e0e0e0;
$sv-grey-w1: #bdbdbd;
$sv-grey: #9e9e9e;
$sv-grey-d1: #757575;
$sv-grey-d2: #616161;
$sv-grey-d3: #424242;
$sv-grey-d4: #212121;

// blue
$sv-blue-w5: #e3f2fd;
$sv-blue-w4: #bbdefb;
$sv-blue-w3: #90caf9;
$sv-blue-w2: #64b5f6;
$sv-blue-w1: #42a5f5;
$sv-blue: #2196f3;
$sv-blue-d1: #1e88e5;
$sv-blue-d2: #1976d2;
$sv-blue-d3: #1565c0;
$sv-blue-d4: #0d47a1;
$sv-blue-a1: #82b1ff;
$sv-blue-a2: #448aff;
$sv-blue-a3: #2979ff;
$sv-blue-a4: #2962ff;

// light-blue
$sv-light-blue-w5: #e1f5fe;
$sv-light-blue-w4: #b3e5fc;
$sv-light-blue-w3: #81d4fa;
$sv-light-blue-w2: #4fc3f7;
$sv-light-blue-w1: #29b6f6;
$sv-light-blue: #03a9f4;
$sv-light-blue-d1: #039be5;
$sv-light-blue-d2: #0288d1;
$sv-light-blue-d3: #0277bd;
$sv-light-blue-d4: #01579b;
$sv-light-blue-a1: #80d8ff;
$sv-light-blue-a2: #40c4ff;
$sv-light-blue-a3: #16d5db;
$sv-light-blue-a4: #0091ea;

// blue-gray
$sv-blue-grey-w5: #eceff1;
$sv-blue-grey-w4: #cfd8dc;
$sv-blue-grey-w3: #b0bec5;
$sv-blue-grey-w2: #90a4ae;
$sv-blue-grey-w1: #78909c;
$sv-blue-grey: #607d8b;
$sv-blue-grey-d1: #546e7a;
$sv-blue-grey-d2: #455a64;
$sv-blue-grey-d3: #37474f;
$sv-blue-grey-d4: #263238;

// orange
$sv-orange-w5: #fff3e0;
$sv-orange-w4: #ffe0b2;
$sv-orange-w3: #ffcc80;
$sv-orange-w2: #ffb74d;
$sv-orange-w1: #ffa726;
$sv-orange: #ff9800;
$sv-orange-d1: #fb8c00;
$sv-orange-d2: #f57c00;
$sv-orange-d3: #ef6c00;
$sv-orange-d4: #e65100;
$sv-orange-a1: #ffd180;
$sv-orange-a2: #ffab40;
$sv-orange-a3: #ff9100;
$sv-orange-a4: #ff6d00;

//deep-orange
$sv-deep-orange-w5: #fbe9e7;
$sv-deep-orange-w4: #ffccbc;
$sv-deep-orange-w3: #ffab91;
$sv-deep-orange-w2: #ff8a65;
$sv-deep-orange-w1: #ff7043;
$sv-deep-orange: #ff5722;
$sv-deep-orange-d1: #f4511e;
$sv-deep-orange-d2: #e64a19;
$sv-deep-orange-d3: #d84315;
$sv-deep-orange-d4: #bf360c;
$sv-deep-orange-a1: #ff9e80;
$sv-deep-orange-a2: #ff6e40;
$sv-deep-orange-a3: #ff3d00;
$sv-deep-orange-a4: #dd2c00;

$white: #fff;
$light-gray: #AAA;
$gray: #37474f;
$accent: #139fac;
$dark-blue: rgb(25, 25, 112);
$dark-gray:  #263238;
