@import '../styles/color';

mat-sidenav-container {
  display: flex;
  height: 98vh;
  border: .1em solid $sv-blue-grey;
}

mat-sidenav {
  border: .1em solid $sv-blue-grey;
  background: $sv-blue-grey-d1;
}

mat-sidenav-content {
  flex: 1;
  border: .1em solid $sv-blue-grey;
}
